{% extends 'base.html' %}
    {% block content %}
        <div style="margin:1%" class="ui secondary pointing menu">
            <a class="{% if module == 'home' %}active{% endif %} item">
            Home
            </a>
            <a class="item">
            Products
            </a>
        </div>
        <div class="ui huge centered header">Test Technologies</div>
        <div style="margin:3%" class="ui centered four column grid">
            <div class="column">
            <div class="ui raised card">
                <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/daniel.jpg">
                </div>
                <div class="content">
                <a class="header">Keres</a>
                </div>
            </div>
            </div>
            <div class="column">
            <div class="ui raised card">
                <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/helen.jpg">
                </div>
                <div class="content">
                <a class="header">Maildrone</a>
                </div>
            </div>
            </div>
            <div class="column">
            <div class="ui raised card">
                <div class="image">
                <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg">
                </div>
                <div class="content">
                <a class="header">Financepal</a>
                </div>
            </div>
            </div>
        </div>
    {% endblock content %}

    